# mv ToolKit.semple.service /etc/systemd/system/ToolKit.service

[Unit]
Description=Telegram bot ToolKit
After=syslog.target
After=network.target

[Service]
Type=simple
User= <<<<<<<<<<<<<<<<<<
WorkingDirectory= <<<<<<<<<<<<<<<<<<
ExecStart= <<<<<<<<<<<<<<<<<<
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target
