[Unit]
Description=Telegram bot ToolKit
After=syslog.target
After=network.target

[Service]
Type=simple
User={username}
WorkingDirectory={path}
ExecStart={py_path} main.py -m
KillMode=control-group
KillSignal=15
SendSIGKILL={send_kill}
RestartSec=5
Restart=always
 
[Install]
WantedBy=multi-user.target